/* INDEX */
.start-anime {
    width: 100%;
    height: auto;
    animation: index_anime 0.5s linear forwards;
    animation-delay: 6s;
    position: absolute;
    z-index: 20;
}

@keyframes index_anime {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

.start-anime>div>img {
    width: 100%;
    height: 150px;
}

.start-anime__dog {
    position: absolute;
    top: 33%;
    left: 26%;
    opacity: 0;
    animation: dog_anime 0.2s linear forwards;
    animation-delay: 0.5s;
}

@keyframes dog_anime {
    from {opacity: 0;}
    to {opacity: 1;}
}

.start-anime__flower {
    position: absolute;
    right: 24%;
    bottom: 30%;
    opacity: 0;
    animation: flower_anime 0.2s linear forwards;
    animation-delay: 2.8s;
}

@keyframes flower_anime {
    from {opacity: 0;}
    to {opacity: 1;}
}

.start-anime__flower img {
    animation: flower_anime_rotate 10s linear forwards;
    animation-delay: 3s;
}

@keyframes flower_anime_rotate {
    from {transform: rotate(0);}
    to {transform: rotate(360deg);}
}

.body-contents {
    width: 100%;
    height: auto;
    padding: 0 5%;
    bottom: 0;
    display: contents;
    justify-content: center;
    align-items: center;
    position: relative;
}

.body-contents__banner {
    width: 100%;
    height: 600px;
    margin-top: 100px;
    /* top: 100px; */
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.body-contents__text {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.body-contents__text2 {
    width: 100%;
    height: 200px;
}

.text-header,
.text-content {
    display: flex;
    justify-content: center;
}

.text-header {
    width: 1000px;
    height: 60px;
    font-size: 30px;
    font-weight: 600;
    align-items: center;
}

.text-content {
    width: 1000px;
    height: 200px;

}

.banner-top {
    height: 100%;
}

.body-contents__info {
    width: 100%;
    height: 900px;
}

.banner-top img {
    width: 1000px;
    object-fit: cover;
    display: flex;
    align-self: center;
    justify-content: center;
    /* transform: translateY(6%);*/
} 

.body-contents__list {
    padding: 200px 5% 0 5%;
    width: 100%;
    display: flex;
    box-sizing: border-box;    
}

.body-contents__list div {
    width: 50%;
    height: 200px;
    display: inline-block;
    vertical-align: top;
}

.main-menu__list-min button {
    background-color: transparent;
    border:none;
}

