#calendar {
    width: 100%;
    height: 90%;
}

.body-contents__calendar {
    width: 100%;
    height: 1100px;
    box-sizing: border-box;
    display: block;
    padding: 150px 5% 0 5%;
    display: flex;
    justify-content: center;
}

.body-contents__calendar form {
    width: 100%;
}

.calendar__head {
    font-size: 1.5rem;
    font-weight: 600;
}

.calendar-board {
    width: 20%;
    height: 725px;
    background-color: #E9F1F7;
    position: absolute;
    top: 255px;
    right: 0;
}

.calendar-head,
.calendar-content,
.calendar-btn__write,
.calendar-btn__del {
    width: 100%;
    padding: 10px 8%;
    display: flex;
    align-items: center;
}

.calendar-day {
    width: 100%;
    padding: 0 8%;
    display: flex;
    align-items: center;
}

.calendar-board input,
.calendar-board textarea {
    border : none;
    font-size: 20px;
    padding: 0 10px;
    font-family: 'omyu_pretty';
}

.calendar-head input {
    width: 80%;
    height: 30px;
}

.calendar-head input {
    margin-top: 20px;
}

.calendar-day input {
    width: 34%;
    height: 30px;
}

.calendar-day input:first-child {
    margin-right: 6%;
}

.calendar-day input:last-child {
    margin: 0 5% 0 1%;
}

.calendar-board textarea {
    width: 80%;
    padding-top: 10px;
}
.calendar-btn__write input,
.calendar-btn__del input {
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
}
.calendar-btn__write input {
    width: 85%;
    background-color: #54426B;
    color: white;
}

.calendar-btn__write input:hover {
    background-color: black;
}

.calendar-btn__del input {
    width: 30%;
    height: 30px;
    background-color: #ff9797;
}

.calendar-btn__del input:hover {
    background-color: red;
}

/* 캘린더 헤더 */
/* .fc-header-toolbar {} */

.fc-view-harness {
    width: 80%;
}

/* 일요일 빨간색 */
.fc-day-sun a {
    color: red;
    text-decoration: none;
  }
/* 토요일 파란색 */
.fc-day-sat a {
    color: blue;
    text-decoration: none;
}
/* 요일칸 선택자 */
.fc-scrollgrid-sync-inner {
    background-color: #FAE6DF;
}

/* 날짜칸 선택자 */
.fc-daygrid-day-frame {
    background-color: white;
}

/* 헤더 버튼색상 변경 */
.fc-toolbar-chunk>button {
    background-color: #FAE6DF;
}


/* 비활성화 버튼 선택자 */
.fc .fc-button-primary {
    background-color: #FAE6DF;
    color: black;
}

/* 비활성화 버튼 선택자(today) */
.fc .fc-button-primary:disabled {
    background-color: gray;
}

/* 활성화 버튼 선택자 */
.fc .fc-button-primary:not(:disabled):active,
.fc .fc-button-primary:not(:disabled).fc-button-active {
    background-color: #FBF9ED;
    color: gray;
}

/* 이벤트박스 CSS */
#external-events {
    position: fixed;
    z-index: 2;
    top: 220px;
    left: 90px;
    width: 150px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    background: #eee;
  }
  
#external-events .fc-event {
    cursor: move;
    margin: 3px 0;
}
  
#calendar-container {
    position: relative;
    z-index: 1;
    margin-left: 200px;
}
  
#calendar {
    max-width: 2000px;
    margin: 20px auto;
}

/* 이벤트박스 일정 색상변경 */
#external-events > div:nth-child(1) > div {
    background-color: red;
    color: black;
}
#external-events > div:nth-child(2) > div {
    background-color: orange;
    color: black;
}
#external-events > div:nth-child(3) > div {
    background-color: yellow;
    color: black;
}
#external-events > div:nth-child(4) > div {
    background-color: green;
    color: black;
}
#external-events > div:nth-child(5) > div {
    background-color: blue;
    color: black;
}
#external-events > div:nth-child(6) > div {
    background-color: purple;
    color: black;
}

.board__calendar {
    width: 100%;
    height: 900px;
    /* background-color: white; */
    padding-right: 5%;
    /* box-sizing: border-box; */
}