.head-top {
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 10;
    background-color: white;
    /* background-image: url("../../img/title-head.png");
    background-position: left;
    background-repeat: no-repeat; */
}

.head-top__main {
    display: flex;
}

.head-top__main-title {
    width: 10%;
    height: 60px;
    color: black;
    position: relative;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    padding-left: 50px;
}

.head-top__main-title img{
    width: 80px;
    height: 80px;
    display: flex;
    border-radius: 50%;
}

.head-top__main-title span {
    display: flex;
    font-family : 'GoryeongStrawberry';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    white-space: nowrap;
}

.head-top__main-menu {
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 13% 20px 5%;
}

.main-menu__list {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
}

.main-menu__list-title,
.main-menu__list-title-non {
    width: 16%;
    flex: 1;
    text-align: center;
    z-index: 6;
}

.main-menu__list-title-non a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;

}

.main-menu__list-title:hover .list-title__text,
.main-menu__list-title-non:hover .list-title__text {
    background-color: #54426B;
    font-weight: 600;
    color: white;
}

.main-menu__list-title:hover .list-dropdown {
    height: 40px;
    transition-duration: 0.5s;
}

.list-title__text {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-dropdown {
    width: 100%;
    overflow: hidden;
    height: 0;
    background-color: #FAE6DF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.main-menu__list-min {
    width: 0;
    opacity: 0;
    display: flex;
    justify-content: right;
    /* background-color: #FBF9ED; */
    visibility : hidden;
}

.head-top__login {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    white-space : nowrap;
    padding: 5px;
}

.head-top__login div {
    font-size: 0.8rem;
    padding: 10px 20px;
}

.head-top__login div:hover {
    background-color: #54426B;
    color: white;
}




