.body-content__side-menu {
    width: 300px;
    height: 900px;
    margin-top: 100px;
    display: inline-block;
    position: absolute;
    left: 0;
}

.side-menu__top {
    width: 300px;
    height: 150px;
    background-image: url("../../img/side-menu.png");
    background-repeat: no-repeat;
    background-position: left;
}

.side-menu {
    width: 300px;
    height: 100%;
    background-color: #FAE6DF;
}

.side-menu__head {
    padding: 30px;
}

.body-content__side-menu h2 {
    font-size: 1.5rem;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

.body-content__side-menu ol {
    font-size: 1.1rem;
    padding: 20px 35px;
}

.body-content__side-menu ol:hover {
    background-color: #54426B;
    color: white;
}
