<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fd.db.MemberMapper">
	<!-- sql문 작성 -->

	<select parameterType="MemberVO" id="signup">
	INSERT INTO MEMBERS VALUES(#{user_id}, #{user_pw}, #{user_nickname}, #{main_adress}, #{sub_adress}, #{user_email}, #{user_tel}, #{user_gender}, #{user_picture}, SYSDATE) 
	</select>
	
	<select id="idcheck" resultType="MemberVO" >
		SELECT * FROM MEMBERS WHERE user_id=#{user_id}
	</select>
	
	<select id="nickcheck" resultType="MemberVO" >
		SELECT * FROM MEMBERS WHERE user_id=#{user_nickname}
	</select>
	
	<select id="login" parameterType="MemberVO" resultType="MemberVO">
		SELECT * FROM MEMBERS WHERE user_id=#{user_id} AND user_pw=#{user_pw}
	</select>
	
	<update id="updatemember" parameterType="MemberVO">
		UPDATE MEMBERS SET user_pw=#{user_pw}, main_adress=#{main_address}, sub_adress=#{sub_address}, user_email=#{user_email}, user_tel=#{user_tel}, user_gender=#{user_gender}, user_picture=#{user_picture} WHERE user_id=#{user_id}
	</update>
	
	<delete id="deletemember" >
		DELETE FROM MEMBERS WHERE user_id=#{user_id} 
	</delete>
	
</mapper>