<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fd.db.MemberMapper">
	<!-- sql문 작성 -->

	<select parameterType="MemberVO" id="signup">
	INSERT INTO MEMBERS VALUES(#{user_id}, #{user_pw}, #{user_nickname}, #{main_address}, #{sub_address}, #{user_email}, #{user_tel}, #{user_gender}, #{user_picture}, SYSDATE) 
	</select>
	
	<select id="idcheck" resultType="MemberVO" >
		SELECT * FROM MEMBERS WHERE user_id=#{user_id}
	</select>
	<select id="nickcheck" resultType="MemberVO" >
		SELECT * FROM MEMBERS WHERE user_id=#{user_nickname}
	</select>
</mapper>