<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fd.db.PetMapper">
	<!-- sql문 작성 -->
	
	<insert  id="petinsert" parameterType="PetVO">
		INSERT INTO PET(PET_ID, PET_TYPE, PET_PICTURE, PET_AGE, USER_ID, PET_GENDER, PET_DATE) 
      	VALUES(#{pet_id}, #{pet_type}, #{pet_picture}, #{pet_age}, #{user_id}, #{pet_gender}, #{pet_date}) 
	</insert>
	
	<select id="showpet" resultType="PetVO">
		SELECT * FROM PET WHERE user_id=#{user_id}
	</select>
	
	<update id="petupdate" parameterType="PetVO">
		UPDATE PET SET pet_type=#{pet_type}, pet_picture=#{pet_picture}, pet_age=#{pet_age}, pet_gender=#{pet_gender}, pet_date=#{pet_date} WHERE user_id=#{user_id} AND pet_id=#{pet_id}
	</update>
	
	<delete id="petdelete" parameterType="PetVO">
		DELETE FROM PET WHERE pet_id=#{pet_id} AND user_id=#{user_id}
	</delete>
	
		
</mapper>